<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Contact Information</h2>
      <p>Email: example@contact.com</p>
      <p>Phone: +123456789</p>
      <p>Address: 123, Street Name, City, Country</p>
    </div>
  </body>
</html>
